<h2>Mon Pokedex</h2>
<ng-container *ngIf="pagedPokemons.data.length > 0">

  <p>Limite: {{ pagedPokemons.limit }}</p>
  <p>Offset: {{ pagedPokemons.offset }}</p>

  <mat-nav-list>
    <a mat-list-item *ngFor="let pokemon of pagedPokemons.data" routerLink="detail/{{ pokemon.id }}">
      <img matListAvatar src=" ../../../assets/img/sprites/{{ pokemon.id }}.png" alt="...">
      <p matLine>
        <span>{{pokemon.id}}. </span>
        <span>{{pokemon.name}}</span>
      </p>
    </a>
  </mat-nav-list>

  <button mat-raised-button color="primary" title="prev" [disabled]="pagedPokemons.offset<=0" (click)="getPreviousPokemons()">Prec.</button>
  <button mat-raised-button color="primary" title="next"  [disabled]="pagedPokemons.offset+pagedPokemons.limit>=pokemonGeneration" (click)="getNextPokemons()">Suiv.</button>
</ng-container>
